{% extends 'base.html' %}

{% block title %}
cbv
{% endblock %}

{% block content %}
<a href="{% url 'home' %}">back to home</a><br>
<a href="{% url 'cbv:list' %}">published list</a>
<a href="{% url 'cbv:drafts' %}">drafts list</a>
<hr>

<form method="get">
  <input id="query" name="query" value="{{ query }}"> <button type="submit">submit</button>
</form>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><a href="{% url 'cbv:SortedNameBookList' %}">Name</a></th>
      <th>Pages</th>
      <th>Status</th>
      <th>Price</th>
      <th>Created Date</th>
      <th>Updated Date</th>
      <th>Activity</th>
    </tr>
  </thead>
  <tbody>
    <a href="{% url 'cbv:add' %}">add</a>
    {% for b in book %}
    <tr>
      <td>{{ b.name }}</td>
      <td>{{ b.pages }}</td>
      <td>{{ b.status }}</td>
      <td>
        {% if b.current_price is not None %}
          {{ b.current_price }}
        {% endif %}
      </td>
      <td>{{ b.created_at | date:'Y/m/d h:m:s' }}</td>
      <td>{{ b.updated_at | date:'Y/m/d h:m:s' }}</td>
      <td>
        <a href="{% url 'cbv:detail' b.id %}">detail</a>
        <a href="{% url 'cbv:update' b.id %}">edit</a>
        <a href="{% url 'cbv:delete' b.id %}">delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{# TODO: pagination. #}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<hr>

<table>
  <thead>
    <tr>
      <th># of pages</th>
      <th># of drift</th>
      <th># of published</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <tr>
        <td>{{ num_of_book_pages }}</td>
        <td>{{ num_of_draft }}</td>
        <td>{{ num_of_published }}</td>
      </tr>
  </tbody>
</table>
{% endblock %}
