{% extends 'base.html' %}

{% block title %}
cbv
{% endblock %}

{% block content %}
<a href="{% url 'home' %}">back to home</a><br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Pages</th>
      <th>Activity</th>
    </tr>
  </thead>
  <tbody>
    <a href="{% url 'cbv:add' %}">add</a>
    {% for b in object_list %}
    <tr>
      <td>{{ b.name }}</td>
      <td>{{ b.pages }}</td>
      <td>
        <a href="{% url 'cbv:update' b.id %}">edit</a>
        <a href="{% url 'cbv:delete' b.id %}">delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}